/* Main styles for the application */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Ensure content flows in a column */
    align-items: center;
    transition: background-color 0.5s ease;
}

/* Light mode styling */
.light-mode {
    background: linear-gradient(to right, #ffffff, #d7e1ec, #f7f8fa);
    color: black;
}

/* Theme switch styles */
.theme-switch-wrapper {
    position: fixed;
    top: 20px;
    right: 15px;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Emoji container styling */
.emoji-container {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    color: #F57C00; /* Orange color for emoji */
}

/* Styles for the fixed navigation bar */
#main-nav {
    width: 100%;
    background: inherit;
    position: fixed;
    top: 0; /* Adjusted to be at the top of the page */
    left: 0;
    z-index: 1000;
    padding: 1rem; /* Add some padding for spacing */
}

#main-nav ul {
    margin: 0;
    padding: 0;
}

#main-nav ul li {
    display: inline-block;
}

#main-nav ul li a {
    display: block;
    padding: 1rem;
    color: #1976D2; /* Blue color for menu items */
}

#main-nav ul li a i {
    margin-right: 8px;
    color: #F57C00; /* Orange color for emoji icons */
}

/* Push the main content down to avoid overlap */
.main-content {
    padding-top: 60px; /* Adjusted value for desired spacing */
    max-width: 800px; /* Limit the content width */
    width: 90%; /* Ensure content stays within the screen width */
    margin: 0 auto; /* Center the content horizontally */
}

/* Add this CSS to your main.css */
.blog-image-small {
    max-width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add some spacing below the image */
}
